In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
df = pd.read_csv("../results/out2.csv")

In [3]:
df

   Unnamed: 0  length     t_opt  t_baseline   t_opt_a  t_baseline_a
0           0       1  0.379874    0.279320  0.379874      0.279320
1           1       4  0.343686    0.311259  0.085921      0.077815
2           2      16  0.427741    0.426447  0.026734      0.026653
3           3      64  0.419765    0.523890  0.006559      0.008186